@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childContainer {
  width: fit-content;
  height: 200px;
  margin: 40px;
  font-size: 70px;
  font-weight: 700;
}

.blueColor {
  color: rgb(6, 19, 208);
}